.inactive-banner.mb-5
  .container
    .row
      .col
        .d-flex.justify-content-center.px-3.py-2.px-md-0
          p.mb-0
            | This podcast is no longer active. The episodes remain available for listening. 