block content
  .container.footer.mb-5.mb-sm-0.pb-5.pb-sm-0
    .row
      .col-lg-12
        p.text-center
          | 2017-#{projectInfo.currentYear} © Everyday Journey Podcast
          |  
          a(href=projectInfo.feedUrl) RSS