.container-fluid
  .row
    .col.mt-4
      .text-center
        p= projectInfo.project.description
        p
          a.link-ext(href='mailto:'+projectInfo.project.email rel='external')  #{projectInfo.project.email} 
      