.container-fluid
  .row
    .col.mt-4
      .text-center
        h3= projectInfo.project.description
        p
          a.link-ext(href='mailto:'+projectInfo.project.email rel='external' aria-label="contact email " + projectInfo.project.email)  #{projectInfo.project.email} 
      