extends layout

block content
  section(class='textual')      
    .container
      include partials/_sec-nav

      .row.mb-4
        .col
          h2 About Everyday Journey
          p Interviews with outstanding people about their upbringing, professions, hobbies, cultural traits, and life observations in an informal manner to inspire listeners to overcome obstacles and become freer and happier.
          p Hosted by Vasily Myazin.

  .mt-5

  include partials/footer