extends layout

block content
  section(class='textual')      
    .container
      include partials/_sec-nav

      .row.mb-4
        .col
          h2 About Everyday Journey
          p Interviews with outstanding people about their upbringing, professions, hobbies, cultural traits, and life observations in an informal manner to inspire listeners to overcome obstacles and become freer and happier.
          p Hosted by Vasily Myazin.

  .mt-5.pt-5
  include partials/_banner-telegram

  .mt-5
  include partials/header
  .container
    .row
      div.col-12.mt-5.mt-md-2.text-center
        img(src='/images/QR-Code.png' alt='QR Code')

  include partials/footer