extends layout

block content
  .container.page
    .blog-content
      include partials/_sec-nav
      .row
        .col.col-lg-8
          h2 Resources
          h3 Additional meterials
          .my-5
          p Here will be some links.


  .spacer-lg
  include partials/header

  include partials/footer